@breakPoint: 750px;

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.view {
  text-align: center;
  .full-size;
  overflow-y: scroll;
  img {
    cursor: pointer;
  }
}

button {
  margin: 10px;
  cursor: pointer;
}

.tab {
  cursor: pointer;
}

.navbar {
  background: #D8D8D8;
  border-bottom: 1px solid black;
  .title {
    font-size: 24px;
  }
}

.back-button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 100px;
  margin: 5px;
}

.tab.selected {
  font-weight: bold;
  text-decoration: underline;
}

.tabbar.small {
  border-top: 1px solid black;
}

@media screen and (max-width: @breakPoint) {
  // small screens

}
@media screen and (min-width: @breakPoint) {

}
