@breakPoint: 750px;

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.view {
  text-align: center;
  background: white;
  .full-size;
  overflow-y: scroll;
  img {
    cursor: pointer;
  }
}

button {
  margin: 10px;
  cursor: pointer;
}

.tab {
  cursor: pointer;
}

.navbar {
  background: #D8D8D8;
  border-bottom: 1px solid black;
  .title {
    font-size: 24px;
  }
}

.back-button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 100px;
  margin: 5px;
}

.tab.selected {
  font-weight: bold;
  text-decoration: underline;
}

.tabbar.small {
  border-top: 1px solid black;
}

@media screen and (max-width: @breakPoint) {
  // small screens

}
@media screen and (min-width: @breakPoint) {

}


// appear nearly instantly
.navvc-appear-appear {
  opacity: 0.1;
}
.navvc-appear-appear.navvc-appear-appear-active {
  opacity: 1;
  transition: opacity 0.01s ease;
}
// similar to appear
.navvc-instance-enter {
  z-index: 1;
  opacity: 0.1;
}
.navvc-instance-enter.navvc-instance-enter-active {
  opacity: 1;
  transition: opacity 0.01s ease;
}
.navvc-instance-leave {
  z-index: 0;
  opacity: 1;
}
.navvc-instance-leave.navvc-instance-leave-active {
  opacity: 0;
  transition: opacity 0.1s ease;
}
// push
.navvc-push-enter {
  z-index: 1;
  transform: translateX(100%);
}
.navvc-push-enter.navvc-push-enter-active {
  transform: translateX(0%);
  transition: transform .5s ease;
}
.navvc-push-leave {
  z-index: 0;
  transform: translateX(0%);
}
.navvc-push-leave.navvc-push-leave-active {
  transform: translateX(-33%);
  transition: transform .5s ease;
}
// pop
.navvc-pop-enter {
  transform: translateX(-33%);
}
.navvc-pop-enter.navvc-pop-enter-active {
  transform: translateX(0%);
  transition: transform .5s ease;
}
.navvc-pop-leave {
  transform: translateX(0%);
}
.navvc-pop-leave.navvc-pop-leave-active {
  transform: translateX(100%);
  transition: transform .5s ease;
}
