body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.view {
  text-align: center;
  .full-size;
  overflow-y: scroll;
}

button {
  margin: 10px;
}
